<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="musicBean"
          class="org.example.music_domain.RockMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="prototype"
          factory-method="factoryMethod">

    </bean>
    <bean id="musicallBean"
          class ="org.example.music_domain.JazzMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="prototype">
    </bean>
    <bean id="classicBean"
          class="org.example.music_domain.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="prototype">

    </bean>
<!--    &lt;!&ndash; Creating beans with using constructor  &ndash;&gt;-->
<!--    <bean id="musicPlayer"-->
<!--       class="org.example.music_domain.MusicPlayer"-->
<!--       scope="prototype"-->
<!--    >-->
<!--&lt;!&ndash;        <constructor-arg type="org.example.music_domain.Music"&ndash;&gt;-->
<!--        <constructor-arg ref="musicBean"/>-->
<!--        <constructor-arg ref="musicallBean"/>-->
<!--        <constructor-arg ref="classicBean"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; Creating beans with using getters  &ndash;&gt;-->
<!--    <bean id="musicPlayerSetter"-->
<!--          class="org.example.music_domain.MusicPlayer">-->

<!--        <property name="music" ref="musicBean"/>-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="value" value="${musicPlayer.value}"/>-->
<!--    </bean>-->
</beans>